body {
	background-color: azure;
	color: dodgerblue;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 25px;
}
img {
	vertical-align: middle;
	height: 250px;
}
#slogan {
	font-style: italic;
}
#variety {
	text-decoration: underline;
}
ul {
	margin-left: auto;
  	margin-right: auto;
  	width: 100px;
  	text-align: left;
}
