body {
	font-family: Georgia, serif;
	font-size: 18px;
	background-color: AliceBlue;
}

.centeralign {
	margin: 0 auto;
	width: 1098px;
}

#logo {
	width: 350px;
	float: left;
}

#social {
	width: 150px;
	float: right;
	margin-top: 105px;
}

p {
	padding-top: 15px;
	clear: both;
}

nav {
	text-align: left;
	width: 1098px;
	margin: 0 auto;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
/*	padding-right: 1em;
	margin: .2em 1em;*/
	border-right: 1px solid black;
	display: block;
	float: left;
	padding: 0 2em;
}

nav a:hover {
	color: #0080bd;
	background-image: url("..//images/bike.jpg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 15px 2px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#center {
	border: 1px solid black;
	display: block;

}

.header {
	font-size: 1.5em;
	margin: 0 auto;
	width: 1098px;
}

footer {
	text-align: center;
	margin-bottom: 1em;

}

footer a {
	text-decoration: none;
	color: black;
	font-size: .8em;
}

footer a:hover {
	color: #0080bd;
}



